<div class="layui-row searchInputBackGroundWhite">
    <div class="layui-col-md3">
        <li class="layui-this customSearch">
            <input type="text" ng-keyup="enterEvent($event,this)"  class="layui-input" ng-model="searchModel" placeholder="场景名|服务ID" >
        </li>
    </div>

    <div class="layui-col-md8">&nbsp;</div>
    <div class="layui-col-md1">
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 0">
                <a class="layui-btn layui-btn-primary searchButton" ng-href="#/dubboSceneAddOrEdit">
                    <i class="layui-icon layui-icon-add-circle"></i> 新增场景
                </a>
            </div>
        </div>
    </div>
</div>

<div class="layui-row">
    <table class="layui-table tableCursor" lay-skin="line">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col width=60>
            <col width="1">
            <col width="1">
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>场景</th>
            <th>每秒并发</th>
            <th>总请求量</th>
            <th>期待QPS</th>
            <th>服务ID</th>
            <th>时间</th>
            <th>状态</th>
            <th>操作</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dubboSceneEntity in showModel">
            <td>{{dubboSceneEntity.id}}</td>
            <td>{{dubboSceneEntity.name}}</td>
            <td>{{dubboSceneEntity.concurrent}}</td>
            <td>{{dubboSceneEntity.total}}</td>
            <td>{{dubboSceneEntity.throughPut}}</td>
            <td ng-click="showSceneServiceDialog(dubboSceneEntity.idsWeight)" style="cursor: pointer">{{dubboSceneEntity.idsWeight | parseIds}}</td>
            <td>{{dubboSceneEntity.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><i style="font-size:20px;cursor: pointer" class="layui-icon " ng-click="progressDialog(dubboSceneEntity.id,'DUBBO')"
                   ng-class="dubboSceneEntity.status != 0 ? 'iconColor layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop':'layui-icon-play'"></i></td>
            <td>
                <a class="layui-btn layui-btn-xs " ng-class="dubboSceneEntity.status ===0 ? 'layui-btn-normal': 'layui-btn-warm'"
                   ng-click="dubboSceneEntity.status === 0 ? sceneStart(dubboSceneEntity.id,$index) : sceneStop(dubboSceneEntity.id)">{{dubboSceneEntity.status ===0 ? '压测': '停止'}}</a>
            </td>
            <td>
                <a class="layui-btn layui-btn-xs" ng-click="goRoutePage('/dubboSceneAddOrEdit',{'id':dubboSceneEntity.id})">编辑</a>
            </td>
            <td>
                <a  class="layui-btn layui-btn-xs layui-btn-danger" ng-click="delete(dubboSceneEntity.id,'dubboSceneDelete')">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="layui-row" id="indexModelPage"></div>
</div>



<div id="sceneServicesDialog" style="display: none">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-carousel">
                <div class="layui-row">
                    <div class="layui-elem-quote">
                        <label class="titan-head-label">服务详情</label>
                    </div>
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>ID</th><th>名称</th><th>应用</th><th>服务</th><th>地址</th><th>权重</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="service in showSceneServiceModel">
                            <td>{{service.id}}</td>
                            <td>{{service.name}}</td>
                            <td>{{service.applicationName}}</td>
                            <td>{{service.serviceName + ":"+ service.methodName}}</td>
                            <td>{{service.address}}</td>
                            <td>{{service.weight}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="progressDialog" style="display: none">
    <div class="layui-card">
        <div class="layui-card-body layadmin-takerates" >
            <div class="layui-carousel">
                <div  class="layui-row">
                    <div id="progressChart"  style=" width: 1070px; height: 550px;margin-left: 3px "></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="concurrentConfigDialog" style="display: none">
    <blockquote class="layui-elem-quote layui-form" style="background-color: white;">
        <legend>当前并发：{{concurrentConfigModel}}</legend>
        <hr class="layui-bg-red marginTopBottom15">
        <legend>修改并发：{{concurrentInputModel}}</legend>
        <hr class="layui-bg-orange marginTopBottom15">
        <form class="layui-form" >
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="number" ng-model="concurrentInputModel" class="layui-input">
                </div>
            </div>
        </form>

    </blockquote>
</div>