<div class="layui-footer" style="background-color: #20222A !important;">
    <ul>
        <li>
            <span>Power by云集研发中心基础架构组 Copyright &copy; 2017~2018</span>
            <span><a href="https://github.com/yunjiweidian/TITAN" target="_black"><img alt="github" src="../../images/github.png" style="height: 32px;"></a></span>
            <span style="float: right;"><i class="layui-icon" title="当前登录用户">&#xe612;</i>&nbsp;&nbsp;<label id="main_username"></label></span>
        </li>
    </ul>
</div>