<div class="layui-row titan-index-header">
    <div class="layui-col-md2">
        <span class="titan-index-header-logo"><img src="../../images/logo2.png" style="height: 40px;padding-left: 16px;"></span>
    </div>
    <div class="layui-col-md10" style="text-align: right;padding-right: 33px;font-size: 14px;">
        <dev ng-class="aggFlag ? 'layui-bg-green':'layui-bg-dot'" class="layui-badge-dot" style="margin-right: 5px"></dev>
        <dev style="margin-right: 10px">{{userSession.userName}}</dev>
        <dev><a ng-click="layout()" style="cursor:pointer;color: #fff;">退出</a></dev>
    </div>
</div>