<div class="layui-row searchInputBackGroundWhite">
    <div class="layui-col-md3">
        <li class="layui-this customSearch">
            <input type="text" ng-keyup="enterEvent($event,this)" class="layui-input"  ng-model="searchModel" placeholder="应用名|服务名" >
        </li>
    </div>
    <div class="layui-col-md8">&nbsp;</div>
    <div class="layui-col-md1">
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 0">
                <a class="layui-btn layui-btn-primary searchButton" ng-href="#/serviceAddOrEdit">
                    <i class="layui-icon layui-icon-add-circle"></i> 新增服务
                </a>
            </div>
        </div>
    </div>

</div>

<div class="layui-row">
    <table class="layui-table tableCursor" lay-skin="line">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col width=60>
            <col width="1">
            <col width="1">
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>应用名</th>
                <th>服务名</th>
                <th>方法名</th>
                <th>时间</th>
                <th>操作</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="service in showModel">
                <td>{{service.id}}</td>
                <td>{{service.name}}</td>
                <td>{{service.applicationName}}</td>
                <td>{{service.serviceName}}</td>
                <td>{{service.methodName}}</td>
                <td>{{service.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <a class="layui-btn layui-btn-xs" ng-click="goRoutePage('/serviceAddOrEdit',{'id':service.id})">编辑</a>
                </td>
                <td>
                    <a  class="layui-btn layui-btn-xs layui-btn-danger" ng-click="delete(service.id,'serviceDelete')">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="layui-row" id="indexModelPage"></div>
</div>
